img:hover {
  position: relative;
  transform: scale(1.01);
  z-index: 0;
}

span:last-of-type {
  padding:8px;
  background: white;
  color: black;
  border-radius: 5px;
  z-index: 1000;
  position: absolute;
  top: 70%;
  left: 15%;
  opacity: 70%;
}

.card:hover {
  box-shadow: black;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;    
}

.img {
  width: 100%;
  display: block;
  border-radius: 30px;
}